@{
    ViewBag.Title = "Index";
    var id = ViewBag.Id;
}

<h2>Student Detail</h2>

<a href="/Student/Edit?id=@id">edit</a>
<div id="divStudentContent">
    <table>
        <tr>
            <td>Id</td>
            <td data-bind="text: viewModel.id"></td>
        </tr>
        <tr>
            <td>SSN</td>
            <td data-bind="text: viewModel.ssn"></td>
        </tr>
        <tr>
            <td>First</td>
            <td data-bind="text: viewModel.first"></td>
        </tr>
        <tr>
            <td>Last</td>
            <td data-bind="text: viewModel.last"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td data-bind="text: viewModel.email"></td>
        </tr>
        <tr>
            <td>Shoe Size</td>
            <td data-bind="text: viewModel.shoesize"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td data-bind="text: viewModel.weight"></td>
        </tr>
    </table>
</div>

@Html.Partial("SharedStudentEnrollment")

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/StudentViewModel'], function (studentViewModel) {
            var studentViewModelObj = new studentViewModel();
            studentViewModelObj.GetDetail("@id");
        });
    });
</script>
